@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700;900&display=swap');

body {
  background: #fff3dc;
  margin: 0;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: 'Nunito', 'sans-serif';
}

.container__inner {
  background: rgb(201, 31, 9);
  padding: 1em;
  border-radius: 16px;
  width: 250px;
  clip-path: circle(10% at 90% 20%);
  transition: all 0.5s ease-in-out;
  cursor: pointer;

  &:hover {
    clip-path: circle(75%);
    background: #ff8800;
  }

  h1 {
    color: white;
    margin: 0;
  }

  p {
    color: white;
    font-size: 0.8rem;
  }
  span {
    float: right;
    color: white;
    font-weight: bold;
    transition: color 0.5s;
    position: relative;
    margin-right: 4%;
  }
  &:hover span {
    color: rgba(255, 255, 255, 0);
  }
}
